<div class="container-fluid mainbox">
  <div class="row">
    <div class="col-md-4 box1">
      <div class="sidebox1">
        <div class="leftside">
          <img src="../assets/logo.png" class="logoimg">
        </div>
        <div class="rightside">

        </div>
      </div>
      <p class="account"> YOUR CREDIT ACCOUNTS </p>
    </div>
    <div class="col-md-8 box2">
      <div class="row inside">
        <div class="col-md-5">
          <div class="left-rightside">
            <span class="head"> Good Morning Kuldeep </span>
          </div>
        </div>
        <div class="col-md-7">
          <div class="rightsidedetail">
            <span class="tabsHeader"> Have a query ? </span>
            <span class="tabsHeader"> FAQs </span>
            <span class="tabsHeader" (click)="open=!open">
              <i class='fa fa-globe fa-2x' style="color: #5b5a99"></i>
            </span>
            <div *ngIf="open" class="dropdown-content">
              <div class="col-md-4">
                <a href="#" class="in_1">
                  <p class="drop_2"> English</p>
                </a>

                <a href="#" class="in_1">
                  <p class="drop_2"> हिंदी</p>
                </a>
                <a href="#" class="in_1">
                  <p class="drop_2"> தமிழ்</p>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#" class="in_1">
                  <p class="drop_2"> मराठी</p>
                </a>
                <a href="#" class="in_1">
                  <p class="drop_2"> తెలుగు</p>
                </a>
                <a href="#" class="in_1">
                  <p class="drop_2"> ಕನ್ನಡ</p>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#" class="in_1">
                  <p class="drop_2">മലയാളം</p>
                </a>
                <a href="#" class="in_1">
                  <p class="drop_2"> ગુજરાતી</p>
                </a>
                <a href="#" class="in_1">
                  <p class="drop_2"> বাংলা</p>
                </a>
              </div>
            </div>
            <span class="tabsHeader"><img src="../assets/bell.png" class="nextpageicon">
              <span class="notificationBell">2</span></span>
            <span class="tabsHeader"> | </span>
            <span class="tabsHeader"> Kuldeep Jadav </span>
            <span class="tabsHeader"><img src="../assets/sidenav.png" class="nextpageicon"></span>
          </div>
        </div>
      </div>
      <div class="midpart">
        <span class="para"> Your Default MyBank Personal Loan is impacting your credit score drastically. Pay the Total
          EMI's due immediately to remove the NPA remark. </span>
      </div>
      <div class="graph">
        <div id="chartdiv">
          <div class="leftcode">
            <p>MAKE PAYMENT</p>
          </div>
          <div class="rightcode">       
            <p class="cibildata">PROJECTED CIBIL SCORE</p>
            <div *ngIf="selectedState == constFirst">
              
              <span class="currentdata">560</span> <span class="currentoutoff"> / 900</span>
              <p class="currentoutofftheory">NPA</p>
            </div>
            <div *ngIf="selectedState == constSecond">
              <span class="currentdata">580</span> <span class="currentoutoff"> / 900</span>
              <p class="currentoutofftheory">LIVE</p>
            </div>
            <div *ngIf="selectedState == constThird">
              <span class="currentdata">585</span> <span class="currentoutoff"> / 900</span>
              <p class="currentoutofftheory">CLOSED</p>
            </div>
            <div *ngIf="selectedState == constFourth">
              <span class="currentdata">575</span> <span class="currentoutoff"> / 900</span>
              <p class="currentoutofftheory"> POST WRITE-OFF: SETTLED </p>
            </div>
            <div *ngIf="selectedState == constFifth">
              <span class="currentdata">538</span> <span class="currentoutoff"> / 900</span>
              <p class="currentoutofftheory">NPA</p>
            </div>
          </div>
        </div>
        <div class="amchart">
          <app-amchart ></app-amchart>
          
        </div>
        <p class="creditscore">YOUR CREDIT SCORE</p>
        <div class="radiobutton">
          <form class="formdata">
            <label class="radio-cont ng-star-inserted" (click)="selectedPane(constFirst)">
              <input type="radio" class="radio-selector" id="a2" name="date" (click)="tick1()">
              <label for="a2" class="checkmark">
                <div class="div" id="select1"></div>
                <div class="changedata">
                  <p class="sboxhead"> Single EMI Due </p>
                  <p class="amount">
                    Rs. 5,120
                  </p>
                </div>
              </label>
            </label>
            <label class="radio-cont ng-star-inserted" (click)="selectedPane(constSecond)">
              <input type="radio" class="radio-selector" id="a3" name="date" (click)="tick2()">
              <label for="a3" class="checkmark">
                <div class="div" id="select2"></div>
                <div class="changedata">
                  <p class="sboxhead"> Total EMI's Due </p>
                  <p class="amount">
                    Rs. 25,600
                  </p>
                </div>
              </label>
            </label>
            <label class="radio-cont ng-star-inserted" (click)="selectedPane(constThird)">
              <input type="radio" class="radio-selector" id="a4" name="date" (click)="tick3()">
              <label for="a4" class="checkmark">
                <div class="div" id="select3"></div>
                <div class="changedata">
                  <p class="sboxhead"> Total Outstanding </p>
                  <p class="amount">
                    Rs. 2,15,073
                  </p>
                </div>
              </label>
            </label>
            <label class="radio-cont ng-star-inserted" (click)="selectedPane(constFourth)">
              <input type="radio" class="radio-selector" id="a5" name="date" (click)="tick4()">
              <label for="a5" class="checkmark">
                <div class="div" id="select4"></div>
                <div class="changedata">
                  <p class="sboxhead"> Settle Amount </p>
                  <p class="amount">
                    <input class="otheramount" type="number" placeholder="Enter the amount">
                  </p>
                </div>
              </label>
            </label>
            <label class="radio-cont ng-star-inserted" (click)="selectedPane(constFifth)">
              <input type="radio" class="radio-selector" id="a6" name="date" (click)="tick5()">
              <label for="a6" class="checkmark">
                <div class="div" id="select5"></div>
                <div class="changedata">
                  <p class="sboxhead"> Other Amount </p>
                  <p class="amount">
                    <input class="otheramount" type="number" placeholder="Enter the amount">
                  </p>
                </div>
              </label>
            </label>
          </form>
        </div>
      </div>
      <div class="lower-para">
        <div class="innerdetail1" *ngIf="selectedState == constFirst">
          <div class="innervalue">
            <p class="headline">Single EMI Due</p>
            <p class="guideline"><img src="../assets/tick.png"> Payment towards 1 EMI Overdue</p>
            <p class="guideline"><img src="../assets/tick.png"> Stabilizes your credit account by NPA mark remains</p>
            <p class="guideline"><img src="../assets/tick.png"> We highly recommend NPA remark clean up,if you have
              funds</p>
          </div>
          <div class="innervalue1">
            <button _ngcontent-serverapp-c5="" class="payNowBtn ng-star-inserted">Pay Total</button>
          </div>
        </div>
        <div class="innerdetail2" *ngIf="selectedState == constSecond">
          <div class="innervalue">
            <p class="headline">Total EMI Due-NPA remark Cleanup</p>
            <p class="guideline"><img src="../assets/tick.png"> No more 'NPA' remark on CIBIL report</p>
            <p class="guideline"><img src="../assets/tick.png"> Restoration of your loan benefits</p>
            <p class="guideline"><img src="../assets/tick.png"> We highly recommend this clean up, if you have funds</p>
          </div>
          <div class="innervalue1">
            <button _ngcontent-serverapp-c5="" class="payNowBtn ng-star-inserted">Pay Total</button>
          </div>
        </div>
        <div class="innerdetail3" *ngIf="selectedState == constThird">
          <div class="innervalue">
            <p class="headline"> Close account - NPA remark Cleanup</p>
            <p class="guideline"><img src="../assets/tick.png"> Close your loan account compleltely</p>
            <p class="guideline"><img src="../assets/tick.png"> No more 'NPA' remark on CIBIL report</p>
          </div>
          <div class="innervalue1">
            <button _ngcontent-serverapp-c5="" class="payNowBtn ng-star-inserted">Pay Total</button>
          </div>
        </div>
        <div class="innerdetail4" *ngIf="selectedState == constFourth">
          <div class="innervalue">
            <p class="headline">Settle Account</p>
            <p class="guideline"><img src="../assets/tick.png"> Stop your CIBIL score decline</p>
            <p class="guideline"><img src="../assets/tick.png"> Stop additional interest levied on your account</p>
            <p class="guideline"><img src="../assets/tick.png"> Choose this option only in case of financial strain</p>
          </div>
        </div>
        <div class="innerdetail4" *ngIf="selectedState == constFifth">
          <div class="innervalue">
            <p class="headline">Other Amount</p>
            <p class="guideline"><img src="../assets/tick.png"> This amount will be adjusted against the principle
              outstanding</p>
            <p class="guideline"><img src="../assets/tick.png"> Added interest and late payment charges may continue to
              levy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>